<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Which provider? -->
		<add key="provider" value="System.Data.SqlClient" />
	</appSettings>
	<connectionStrings>
		<add name ="BezaoPaySqlProvider" connectionString ="Data Source=(localdb)\mssqllocaldb; Integrated Security=true;Initial Catalog=BezaoPay"/>
	</connectionStrings>
</configuration>